.navigation {
    grid-area: navigation;
    background-color: firebrick;
}

.navigation__list {
    list-style-type: none;
}

.item {
    color: white;
    text-decoration: none;
}

.active {
    color: bisque;
    text-decoration: none;
}