.friends {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    background-color: rebeccapurple;
}
.friends_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.friends_item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 40px;
    margin: 10px;
}

.friends_imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.friends_avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: #f3f168;
    border-radius: 50%;
}

.friends_infoContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 75px;
    border: 1px solid #808080;
    border-radius: 5px;
    padding: 5px;
}