.app-wrapper {
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    gap: 10px;
    grid-template-areas: "header header"
    "navigation content";
    width: 1200px;
    margin: 0 auto;
}

.header {
    grid-area: header;
    background-color: green;
}

.navigation {
    grid-area: navigation;
    background-color: firebrick;
}

.profile {
    grid-area: content;
    background-color: sandybrown;
}

.logo {
    width: 150px;
}

.profile__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile__image {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.personal-profile__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.personal-profile__avatar {
    width: 150px;
}